@import "tailwindcss";

.logo-slider-container {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
}

.logo-track {
  display: inline-flex;
  animation: slide 20s linear infinite;
}

@keyframes slide {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); } 
}